$purple: #6C69FF;
$purple-dark: #4f4cd2;

div h4 {
  margin: 0 0 .5em;
}

.search {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  gap: .5em;

  input {
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
  }

  button {
    background: $purple;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);

    &:hover {
      background: $purple-dark;
    }
  }
}














